body {
  background-image: url('https://mewallpaper.com/thumbnail/abstract/2698-soft-gradient-blur-hd-image-free-wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}